.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.1em;
    padding-left: 2.5em;
  }

  .cards__btn{
    width: 1.4rem;
  }

  .cards__pagination{
    text-align: center;
  }

  .cards__page {
    color: antiquewhite;
  }
